<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">

<suite name="MailTestSuite" parallel="none">
    <test name="MailTest">
        <classes>
            <class name="mail.test.SendMessage" />
            <class name="mail.test.AddMessageToArchive" />
            <class name="mail.test.EmptyTrash" />
        </classes>
    </test>
</suite>